/* stylelint-disable */
@charset 'UTF-8';

@font-face {
  font-family: 'Jibril Regular Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Jibril Regular Regular'), url('./JibrilRegular.woff') format('woff');
}

@font-face {
  font-family: 'FM Bolyar Pro';
  font-style: normal;
  font-weight: normal;
  src: local('FM Bolyar Pro'), url('./FMBolyarPro-900.woff') format('woff');
}

